<form class="pf1 {{cssClass}} flexcol" autocomplete="off">
	<!-- Header -->
	<header>
		<h1 class="charname">
			<input
				name="name"
				type="text"
				value="{{actor.name}}"
				placeholder="{{localize "ps.partyName"}}"
			/>
		</h1>
	</header>
	<section class="sheet-lower flexrow">
		<!-- Sidebar -->
		<section class="sheet-sidebar sidebar">
			<div class="sheet-profile-img">
				<img
					class="sheet-profile"
					src="{{actor.img}}"
					title="{{actor.name}}"
					data-edit="img"
				/>
			</div>
		</section>
		<!-- Body -->
		<section class="sheet-content content">
			{{#unless actor.visible}}
				<span class="warning">{{localize "ps.noAccesToSheet"}}</span>
			{{/unless}}
			{{#if actor.visible}}
				<!--Nav Bar-->
				<nav class="tabs">
					<a class="item" data-tab="party">
						{{localize "ps.party"}}
					</a>
					<a class="item" data-tab="inventory">
						{{localize "ps.inventory"}}
					</a>
					<a class="item" data-tab="quests">
						{{localize "ps.quests"}}
					</a>
					<a class="item" data-tab="notes">
						{{localize "ps.notes"}}
					</a>
					<a class="item" data-tab="biography">
						{{localize "ps.biography"}}
					</a>
				</nav>
				<!--Party-->
				<!--Inventory-->
				<!--Quests & XP-->
				<!--Notes-->
				<!--Biography-->
			{{/if}}
		</section>
	</section>
</form>